* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero h1 {
  color: #fde68a;
  font-family: sans-serif;
}
.hero .datum {
  color: #fde68a;
  font-family: sans-serif;
}
.hero .plats {
  color:#fde68a;
  font-family: sans-serif;
}
.hero .tagline {
  color:#fde68a;
  font-family: sans-serif;
}
