* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero {
  background-color: #0f3d3e;
  padding: 3rem 1.5rem;
  color: #fde68a;
  font-family: sans-serif;
}

.hero .btn {
  color: #0f172a; /* Bryter arvet medvetet */
  background-color: #fde68a;
}